
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home {% endblock %}

{% block body %}
    <p>
 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Ab ad alias dolorum enim facilis minima nihil nostrum quidem sapiente sint.
    Harum incidunt modi quia rem sit, soluta voluptas? Dicta, vitae.
    </p>
{% endblock %}