{% extends 'base.html.twig' %}

{% block body %}

    <input type="text" class="pseudo" placeholder="Pseudo" />
    <input type="text" class="mdp" placeholder="Mot de passe" />

    <button type="submit" class="seCo">Se Connecter</button>

{% endblock %}