{% extends 'main/base.html.twig' %}

{% block title %}{{ parent() }} - Home {% endblock %}

{% block body %}
    <p>Coucou, ca marche!!</p>

    <a href="{{ path('accueil') }}"> Vers la page d'accueil </a>

{% endblock %}

