{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <script src="{{ asset ('js/alert.js') }}"></script>
{% endblock %}

{% block body %}
<h1>Mes mentions légales</h1>

{% endblock %}