
html {
    background-color: navajowhite;
    color: darkgrey;
    font-family: Comfortaa;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 30px;
}

h1 {
    font-weight: bold;
    margin-top: 0;
}

label {
    margin-top: 5%;
    margin-bottom: 5%;
}

input#wish_titre, textarea#wish_description,
input#wish_auteur, input#wish_dateCrea{
    display: block;
    margin-bottom: 5%;
}

input#wish_estVisible{
    display: inline;
    margin-top: 5%;
    margin-bottom: 5%;
}

a, p, h1, h2{
    text-align: left;
}

