
html {
    background-color: navajowhite;
    color: darkgrey;
    font-family: Comfortaa;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 30px;
}

h1 {
    font-weight: bold;
    margin-top: 0;
}
