{% extends 'base.html.twig' %}

{% block body %}
    <h1>Details du souhait</h1>
    <h2>{{ idWish.titre }}</h2>
    <h2>{{ idWish.description }}</h2>
    <p>ecrit par {{ idWish.auteur }} le {{ idWish.dateCrea | date("d/m/Y")}}</p>
{% endblock %}